.chessboard-row {
  display: flex;
  flex-direction: row;
}

.tile {
  height: 100px;
  width: 100px;
}

.chessboard-row.odd {
  .tile:nth-child(odd) {
    background-color: rgb(56, 139, 212);
  }

  .tile:nth-child(even) {
    background-color: whitesmoke;
  }
}

.chessboard-row.even {
  .tile:nth-child(even) {
    background-color: rgb(56, 139, 212);;
  }

  .tile:nth-child(odd) {
  background-color: whitesmoke;
  }
}

#root {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

p {
  color: black;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: black;
}

span {
  position: absolute;
  color: red;
}

.move-list {
    background-color: grey;
    display: flex;
    flex-direction: row;
    place-self: start start;
    overflow-y: scroll;
    height: fit-content;

    img {
        vertical-align: text-bottom;
    }
}

table, td {
    border: 1px solid black;

    td {
        width: 50px;
        height: 20px;
        text-align: center;
    }
}

.promoting-piece {
    height: 100px;
    width: 100px;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

button {
    width: 40px;
    height: 40px;
    padding: 0;
}